/* Header */
header {
  background-color: #c1d9ff;
  padding-top: 1%;
  border-bottom: 2pt solid #647584;
}

/* Header, my info part name and tiny description */
#info {
  text-align: center;
  color: #352e55;
}

/* Navbar */
#navbar {
  margin-left: auto;
  margin-right: auto;
  max-width: 60ex;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}

.navbar-item {
  text-decoration: none;
}

.navbar-item:hover {
  color: #438bff;
}

/* Body part, add background color, etc */
body {
  line-height: 1.35em;
  background-color: #eaf2f5;
  margin: 0;
  font-family: "Helvetica", sans-serif;
}

/* Main, the part writing, about me, and blog */
main {
  margin-left: auto;
  margin-right: auto;
  max-width: 60ex;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
}

/* Subtitle for date (Microblog) and about me (Home) */
.subtitle {
  border-bottom: 1pt solid #647584;
  padding-bottom: 1%;
}

/* Important things I learned */
.important {
  color: #268bd2;
}

/* Color the link */
a:link {
  color: #3050e7;
}

/* Sub-heading part (Name:, Email:, etc */
dt {
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-top: 0.75em;
}

/* The content of the sub-heading (Jan, Jan Poonthong, etc) */
dd {
  margin-left: 1.5em;
}

/* The sketch drawing in contact page */
#jan-illustration {
  float: right;
}

/* Tic Tac Toe GIF in microblog */
.images {
  float: right;
  padding-left: 1em;
  padding-bottom: 0.5em;
  max-width: 50vw;
}

/* Table for software page */
table {
  border-collapse: collapse;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  border: 1pt solid #268bd2;
  padding-top: 7px;
  text-align: center;
  font-weight: inherit;
}

td a:link:not(:hover) {
  text-decoration: none;
}

th {
  background-color: #c1d9ff;
  padding-right: 1rem;
  padding-left: 1rem;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: scroll;
}

.headcol {
  left: 0px;
}

/* For jumping navigation */
.anchor {
  text-decoration: none;
}
